<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" >
	
	<listeners>
		<listener class-name="com.cdms.testcase.CdmsListener"></listener>
	</listeners>
	
  <test  name="LoginTest">
    <classes>
      <class name="com.cdms.testcase.LoginTest"/>
    </classes>
  </test>
  
  <test  name="CafeteriaFormTest">
    <classes>
      <class name="com.cdms.testcase.CafeteriaInputFields"/>
    </classes>
  </test>
  
  
   <!-- Test -->
</suite> <!-- Suite -->
